{% load js_routes_tags %}<!DOCTYPE html>
<html  class="h-full bg-gray-200">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% js_routes %}
    <script src="{{ STATIC_URL}}market/dist/index.js" defer></script>
    <link href="{{ STATIC_URL}}market/dist/main.css" rel="stylesheet" />
  </head>
  <body class="">
    {% csrf_token %}
    {{ page|json_script:"page" }}
    <section class="section parent">
      <div class="container pb-3">
            <h1 class="title"> Minimal Food Market </h1>
      </div>
      <div id="app">
      </div>
    </section>
  </body>
</html>
